@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700");
@import url("./../icons/simple-line-icons/css/simple-line-icons.css");
@import url("./../icons/fontawesome6/css/all.min.css");
@import url("./../icons/fontawesome/css/all.min.css");
@import url("./../icons/material-design-iconic-font/css/materialdesignicons.min.css");
@import url("./../icons/themify-icons/css/themify-icons.css");
@import url("./../icons/line-awesome/css/line-awesome.min.css");
@import url("./../icons/avasta/css/style.css");
@import url("./../icons/flaticon/flaticon.css");
@import url("./../icons/flaticon_1/flaticon_1.css");
@import url("./../icons/icomoon/icomoon.css");
@import url("./../icons/bootstrap-icons/font/bootstrap-icons.css");
@import url(./../other/animate/animate.min.css);
@import url(./../other/aos/css/aos.min.css);
@import url(./../other/perfect-scrollbar/css/perfect-scrollbar.css);
@import url(./../other/metismenu/css/metisMenu.min.css);
:root {
  --primary: #0d99ff;
  --secondary: #2c2c2c;
  --secondary-dark: #131313;
  --primary-hover: #007ed9;
  --primary-dark: #004373;
  --rgba-primary-1: rgba(13, 153, 255, 0.1);
  --rgba-primary-2: rgba(13, 153, 255, 0.2);
  --rgba-primary-3: rgba(13, 153, 255, 0.3);
  --rgba-primary-4: rgba(13, 153, 255, 0.4);
  --rgba-primary-5: rgba(13, 153, 255, 0.5);
  --rgba-primary-6: rgba(13, 153, 255, 0.6);
  --rgba-primary-7: rgba(13, 153, 255, 0.7);
  --rgba-primary-8: rgba(13, 153, 255, 0.8);
  --rgba-primary-9: rgba(13, 153, 255, 0.9);
  --rgba-secondary-1: rgba(44, 44, 44, 0.1);
  --rgba-secondary-2: rgba(44, 44, 44, 0.2);
  --rgba-secondary-3: rgba(44, 44, 44, 0.3);
  --rgba-secondary-4: rgba(44, 44, 44, 0.4);
  --rgba-secondary-5: rgba(44, 44, 44, 0.5);
  --rgba-secondary-6: rgba(44, 44, 44, 0.6);
  --rgba-secondary-7: rgba(44, 44, 44, 0.7);
  --rgba-secondary-8: rgba(44, 44, 44, 0.8);
  --rgba-secondary-9: rgba(44, 44, 44, 0.9);
  --font-family-base: poppins, sans-serif, sans-serif;
  --font-family-title: poppins, sans-serif, sans-serif;
  --title: #374557;
}

.pagination .rc-pagination-prev .page-link {
  background: #ffffff;
  border-color: #192a90;
  color: #192a90;
  padding: 0;
}
.pagination .rc-pagination-next .page-link {
  background: #ffffff;
  border-color: #192a90;
  color: #192a90;
  padding: 0;
}
.pagination .rc-pagination-prev .page-link:hover {
  background: #192a90;
  color: #ffffff;
}
.pagination .rc-pagination-next .page-link:hover {
  background: #192a90;
  color: #ffffff;
}
.pagination .rc-pagination-item-active {
  background: #192a90 !important;
  border-color: #d7d7d7;
  box-shadow: 0 0.625rem 1.25rem 0rem rgb(28 46 158 / 18%);
  color: #ffffff !important;
}
.pagination .rc-pagination-item {
  background: #d8ddf7;
  color: #192a90;
}
.pagination .rc-pagination-item:hover {
  background: #192a90;
  color: #ffffff;
}
